.mypage{
  width: 100%;
  height: auto;
  &__profile{
    margin: auto;
    height: 160px;
    width: 100%;
    background-color: white;
    border-bottom:lightgrey solid 2px;
    border-radius: 3px;
    display: flex;
    position: relative;
    &--name{
      font-size: 30px;
      margin: auto 40px;
      .follow-function{
        font-size: 15px;
        padding: 7px;
        background-color: lightblue;
        color: black;
        border-radius: 4px;
      }
    }
    &--edit{
      width: auto;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 50px;
      border: 1px solid transparent;
      border-radius: 30px;
      padding: 3px 30px;
      margin-right: 20px;
      background-color: skyblue;
      a{
        text-decoration: none;
        color: white;
      }
    }
    &--image{
      position: absolute;
      top: 90px;
      left: 250px;
      .userimage{
        border-radius: 50%;
        background-position: center center;
      }
    }
    &--contents{
      font-size: 18px;
      display: flex;
      position: absolute;
      top: 42px;
      right: 100px;
      text-align: center;
      a{
        text-decoration: none;
        color: black;
      }
      .follower, .followed, .number-of-posts{
        margin-left: 30px;
      }
    }
  }
  &__more{
    margin: auto;
    height: 160px;
    width: 100%;
    background-color: white;
    border-bottom:lightgrey solid 2px;
    border-radius: 3px;
  }
}