.show-wrapper{
  width: 70%;
  border-bottom: lightgrey solid 2px;
  margin: auto;
  .show{
    height: auto;
    width: 100%;
    &__top{
      width: 100%;
      height: 100%;
      &--vocab{
        width: auto;
        height: 100%;
        font-size: 30px;
        font-weight: 450;
        margin: 35px auto 0;
        display: flex;
        justify-content: space-around;
        text-align: center;
        .nextbtn{
          font-size: 20px;
        }
      }
      &--image{
        .vocabimage{
          margin: 40px 189px;
        }
      }
      &--user-likes{
        width: 70%;
        margin: 100px auto;
        text-align: none;
        display: flex;
        justify-content: space-between;
        .show-user{
          a{
            color: black;
            font-size: 17px;
          }
          .userimage{
            border-radius: 50%;
            background-position: center center;
          }
        }
        .show-likes{
          width: 70px;
          justify-content: space-between;
          display: flex;
          font-size: 20px;
          i{
            margin-top: 5px;
          }
          .my-red{
            color: red;
          }
          .like-btn{
            border: none;
            background-color: transparent;
          }
        }
      }
    }
    &__bottom{
      width: 100%;
      height: auto;
      margin-top:100px;
      position: relative;
      &--definition{
        width: 70%;
        height: auto;
        margin: auto;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        padding: 20px 0;
        h3{
          font-size: 20px;
          margin: 19px 0;
          text-align: start;
        }
      }
      &--example{
        width: 50%;
        height: 100%;
        width: 70%;
        height: auto;
        margin: 20px auto;
        border-bottom: 1px solid lightgrey;
        padding: 20px 0;
        h3{
          font-size: 20px;
          margin: 0;
          text-align: start;
          margin: 20px 0;
        }
      }
      &--time{
        position: absolute;
        right: 0;
        bottom: 0;
      }
      &--delete-and-edit{
        width: 70%;
        height: 100px;
        font-size: 15px;
        display: flex;
        text-align: center;
        margin: auto;
        justify-content: flex-end;
        .deletebtn{
          width: 100px;
          height: 23px;
          border-radius: 3px;
          background-color: red;
          color: white;
          a{
            color:white ;
            text-decoration: none;
          }
        }
        .editbtn{
          width: 100px;
          height: 23px;
          background-color: lightgrey;
          border-radius: 3px;
          a{
            color: black;
            text-decoration: none;
          }
        }
      }
      &--share{
        width: 70%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        margin: 20px auto;
        a{
          text-decoration: none;
          color: white;
        }
        .share-btn{
          width: 163px;
          border-radius: 5px;
          background-color: #00aced;
          padding: 5px;
        }
      }
    }
  }
}
.comment{
  height: auto;
  width: 70%;
  margin: auto;
  h6{
    text-align: center;
    margin-bottom: 20px;
  }
  &__logo{
    width:50px;
    height: 50px;
    margin:30px auto;
  }
  &__form{
    height: auto;
    width: 70%;
    display: flex;
    margin: 0 auto 30px;
    textarea{
      height: 30px;
      width: 500px;
    }
    input{
      color: black;
      height: 30px;
      width: 100px;
    }
  }
  &__index{
    width: 70%;
    height: auto;
    margin: auto;
    background-color:antiquewhite ;
    border-radius: 7px;
    &--number{
      font-size: 17px;
    }
    &--box{
      width: 100%;
      height: auto;
      padding: 10px;
      .comment-each{
        margin: 30px 20px 30px 20px;
        &__who{
          display: flex;
          justify-content: space-between;
          &--name{
            font-size: 17px;
            .userimage{
              border-radius: 50%;
            }
            a{
              color: blue;
            }
          }
          &--time{
            font-size: 15px;
          }
        }
        &__what{
          margin: 5px 40px;
        }
      }
    }
  }
}
