.ranking
  .impression-box
    .impression-title
      %i.fas.fa-crown.my-gold
      %i.fas.fa-heart.my-red
      %h3 いいねランキング
    .impression-ranking
      -@post.first(10).each.with_index(1) do |post, index|
        .impression
          =link_to post_path(post.id) do
            .impression__index
              = index
              位
            .impression__image
              =image_tag post.image.url, class: 'vocabimage', size: "200x200"
            .impression__contents
              .impression__contents--vocab
                =post.vocab
              .impression__contents--definition
                =post.definition
              .impression__contents--numbers
                %i.fas.fa-heart.my-red
                =post.liked_users.count
              .impression__contents--time
                =post.created_at.strftime("%Y年%m月%d日")
.ranking
  .impression-box
    %p
    .impression-title
      %i.fas.fa-crown.my-gold
      %i.fas.fa-eye
      %h3 閲覧数順ランキング
    .impression-ranking
      - @posts.first(10).each.with_index(1) do |post, index|
        .impression
          =link_to post_path(post.id) do
            .impression__index
              = index
              位
            .impression__image
              =image_tag post.image.url, class: 'vocabimage', size: "200x200"
            .impression__contents
              .impression__contents--vocab
                =post.vocab
              .impression__contents--definition
                =post.definition
              .impression__contents--numbers
                %i.fas.fa-eye
                =post.impressionist_count
              .impression__contents--time
                =post.created_at.strftime("%Y年%m月%d日")