=image_tag @post.image.url, class: 'vocabimage', size: "500x250"
=@post.vocab
=@post.definition
=@post.example

= link_to edit_post_path(@post.id), class:"editbtn", method: :get do
  %i.fas.fa-edit
  編集
=link_to post_path(@post.id), class:"deletebtn", method: :delete do
  %i.fas.fa-trash-alt
  削除